.login-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: 100%;
}

.box {
  padding: 2rem;
  margin-bottom: 1.6rem;
  background-color: white;
  box-shadow: var(--box-bs);
}
.box.form-box {
  padding: 1rem 3rem 2rem;
}

.error {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8rem 2rem;
  background: #fff4f4;
  border: solid 1px #ffcccc;
  color: #bc1111;

  p {
    margin-left: 1rem;
    flex-grow: 1;
    font-weight: 500;
  }

  button {
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }
}

.login-header {
  text-align: center;
  margin-bottom: 2rem;

  h1 {
    font-size: 2.25rem;
    font-weight: 300;
    font-family: "Open Sans", serif;
  }

  .logo {
    width: 96px;
    height: auto;
    margin-bottom: 1.2rem;
  }
}

@media screen and (max-width: 550px) {
  .login-header {
    h1 {
      font-size: 1.5rem;
      font-weight: 350;
    }

    .logo {
      width: 64px;
    }
  }

  .box {
    padding: 1.5rem;
  }
}

.login-form {
  .actions {
    width: 100%;
    display: flex;
    flex-direction: row;

    & > * {
      flex-grow: 1;
    }
  }
}

.action-links {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  font-size: 0.95rem;
  text-align: center;
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > .tab {
    flex-grow: 1;
    border: none;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0.75rem 1.25rem;
    font-family: "Open Sans", serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-muted);
    text-align: center;
    box-sizing: content-box;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    border-top: solid 4px transparent;

    &:hover {
      cursor: pointer;
    }

    &.active {
      background-color: white;
      box-shadow: var(--box-bs);
      color: var(--primary);
      border-radius: 2px 2px 0 0;
      border-top: solid 4px var(--primary);
      font-weight: 650;
    }
  }
}
