.login-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 500px;
  max-width: 100%;
}

.login-form {
  .actions {
    width: 100%;
    display: flex;
    flex-direction: row;

    & > * {
      flex-grow: 1;
    }
  }
}

.action-links {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  font-size: 0.95rem;
  text-align: center;
}
